.quiz{
  margin: 10px;
  padding: 10px 0px;
}

.selected {
    background-color: "#727272";
    color: "#ffffff";
}


.unselected {
    background-color: "#eeeeee";
    color: "#333";
}

.class_portrait_image{
    float:left;
    display:inline-block;
    background-image: url('images/calculus.png');
    width:80px;
    height:100px;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 6px;
    border:0.4px solid #ddd;
}

.clock{
  float:right;
  background-image: url("images/clock.png");
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#class_header{
  margin-bottom:5px;
}

.question{
  border-radius:6px;
  margin-top:5px;
  margin-bottom:10px;
  padding:12px 10px;
  clear:both;
  background-color:#ffffff;
  -moz-box-shadow: inset 1px 1px 3px 1px #ccc;
  -webkit-box-shadow: inset 1px 1px 3px 1px #ccc;
  box-shadow: inset 1px 1px 3px 1px #ccc;
}

h3{
  font-size:2em;
  margin:5px 0px;
}

.answer_list{
  font-size:1.6em;
  border-radius:6px;
  background-color:#eee;
  border: 1px solid #aaa;
}

.answer_list li{
  border-top: 1px solid #aaa;
  font-family: 'Century Gothic', 'Helvetica';
  padding:12px 10px;
}

.answer_list li:first-child{
  border-top: 0px;
  font-family: 'Century Gothic', 'Helvetica';
  padding:12px 10px;
}
